
.servicesTitle {

    text-align: center;
    padding: 0.5rem;
    font-size: 30px;

    font-family: 'Calibri';
}

.servicesTitleContainer {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
    font-family: "Rubik",Arial,Helvetica,sans-serif;
}

.servicesContainer {
    background-color: #f8f7f6;
}

.serviceCards {
    background: #ffffff;
    padding: 0px;
    box-shadow: 0px 17px 35px rgb(74 74 115 / 10%), 0px 5px 15px rgb(0 0 0 / 7%);
    border-radius: 2px;

}
.serviceCards:hover {
    cursor: pointer;
    /* margin-top: 1rem; */
}

.servicesImg {
    width: 100%;
    height: 20rem;
}

.serviceCardsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
}

.serviceCardTitle {
     /* margin-top: 40px; */
    font-size: 20px;
}

.serviceCardTitleContainer {
    margin: 0rem 0 0.5rem 0;
    background-color: orange;
    height: 0.2rem;
}
/*
.serviceCardDescContainer {
    color: #666677;
    line-height: 1.75;
    margin: 0 1rem 0 1rem;
    font-size: 14px;
    margin-bottom: 2rem;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .servicesTitle {
        width: 80%;
    }
    .serviceCards {
        width: 80%;
        margin: 40px 2rem 40px 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .servicesTitle {
        width: 80%;
    }
    .serviceCards {
        width: 80%;
        margin: 20px 2rem 20px 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .servicesTitle {
        width: 35%;
    }
    .serviceCards {
        width: 27%;
        margin: 20px 1rem 20px 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .servicesTitle {
        width: 35%;
    }
    .serviceCards {
        width: 25%;
        margin: 20px 0rem 20px 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .servicesTitle {
        width: 35%;
    }

    .serviceCards {
        width: 25%;
        margin: 20px 0rem 20px 2rem;
    }
}